body {
  background-color: #FFD351;
  font-family: "Bowlby One SC", cursive;
  overflow: hidden; }

.jumbotron {
  max-height: 198px;
  background-color: white;
  color: #FFD351;
  padding-bottom: 0px;
  margin-bottom: 0px; }

.contain {
  margin: 20px;
  margin-top: -10px;
  margin-bottom: 0px;
  float: right;
  padding-bottom: 40px; }

.lemon {
  width: 100px;
  height: 100px;
  background: #FFDE51;
  border: 2px solid;
  border-radius: 75px 15px; }

.space {
  height: 20px; }

.shadow {
  display: none;
  width: 100px;
  height: 10px;
  background: #DCDCDC;
  -moz-border-radius: 100px/50px;
  -webkit-border-radius: 100px/50px;
  border-radius: 100px/50px; }

.main {
  color: white; }
  .main h1 {
    margin-top: 20px;
    font-size: 80px; }
  .main #why {
    text-align: center; }

.lemon-slice {
  height: 15em;
  width: 15em;
  border-radius: 50%;
  background-color: #FFD351;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 20px;
  border: 1px solid grey;
  z-index: -1; }

.lemon-rotate {
  -webkit-animation: spin1 3s ease;
  -moz-animation: spin1 3s ease;
  animation: spin1 3s ease;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

.wrapper-move {
  -webkit-animation: move1 3s;
  -moz-animation: move1 3s;
  animation: move1 3s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

.lemon-rotate-left {
  -webkit-animation: spin2 6s ease;
  -moz-animation: spin2 6s ease;
  animation: spin2 6s ease;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

.wrapper-move-left {
  -webkit-animation: move2 6s ease;
  -moz-animation: move2 6s ease;
  animation: move2 6s ease;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

.lemon-rotate-right {
  -webkit-animation: spin3 6s ease;
  -moz-animation: spin3 6s ease;
  animation: spin3 6s ease;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

.wrapper-move-right {
  -webkit-animation: move3 6s ease;
  -moz-animation: move3 6s ease;
  animation: move3 6s ease;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

.border {
  height: 13.5em;
  width: 13.5em;
  border-radius: 50%;
  margin: auto;
  margin-top: 7px;
  border: 4px solid white;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: -1; }

.pit {
  background-color: white;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  margin: auto;
  margin-top: 6em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: -1; }

.line {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border: 2px solid white;
  z-index: 0;
  margin-top: 6.7em; }

#l1 {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

#l2 {
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

#l3 {
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

@-webkit-keyframes spin1 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-moz-keyframes spin1 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes spin1 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-webkit-keyframes move1 {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(41vw); } }
@-moz-keyframes move1 {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(41vw); } }
@keyframes move1 {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(41vw); } }
@-webkit-keyframes spin2 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(-1080deg); } }
@-moz-keyframes spin2 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(-1080deg); } }
@keyframes spin2 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(-1080deg); } }
@-webkit-keyframes move2 {
  from {
    transform: translateX(41vw); }
  to {
    transform: translateX(-41vw); } }
@-moz-keyframes move2 {
  from {
    transform: translateX(41vw); }
  to {
    transform: translateX(-41vw); } }
@keyframes move2 {
  from {
    transform: translateX(41vw); }
  to {
    transform: translateX(-41vw); } }
@-webkit-keyframes spin3 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(1080deg); } }
@-moz-keyframes spin3 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(1080deg); } }
@keyframes spin3 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(1080deg); } }
@-webkit-keyframes move3 {
  from {
    transform: translateX(-41vw); }
  to {
    transform: translateX(41vw); } }
@-moz-keyframes move3 {
  from {
    transform: translateX(-41vw); }
  to {
    transform: translateX(41vw); } }
@keyframes move3 {
  from {
    transform: translateX(-41vw); }
  to {
    transform: translateX(41vw); } }
#buffer {
  display: none; }

#fact {
  text-align: center;
  display: none; }

.fact-2 {
  text-align: center;
  color: white;
  display: none;
  margin-top: 25vh; }

@media screen and (min-device-width: 320px) and (max-device-width: 780px) {
  .jumbotron {
    max-height: 300px;
    width: 100%;
    max-width: 100%;
    text-align: center; }
    .jumbotron h1 {
      font-size: 60px; }

  .main {
    display: none; }

  .fact-2 {
    display: block;
    font-size: 30px; } }

/*# sourceMappingURL=style.css.map */
